<footer id="footer" style="background-color: #212529;">

    <i class="footer-link fab fa-twitter" style="padding-top: 80px; margin:30px; color: white;"></i>
    <i class="footer-link fab fa-facebook" style="padding-top: 80px; margin:30px; color: white;"></i>
    <i class="footer-link fab fa-instagram" style="padding-top: 80px; margin:30px; color: white;"></i>
    <i class="footer-link fas fa-envelope" style="padding-top: 80px; margin:30px; color: white;"></i>
    <p>© Copyright 2022 RepairIT</p>

</footer>