<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo-img" src="../images/repairhint-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            <a class='nav-link' href='/'>Home</a>     
            </li>
            <li>
            <a class='nav-link' href='../partials/repair-navigator.ejs'>Repair Navigator</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Schematic Puzzle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Practice Repair</a>
            </li> -->
            <li class="nav-item">
            <a class='nav-link' href='../partials/random-secret.ejs'>Random secret/clue</a>
            </li>
            <!-- <li class="nav-item">
            <a class='nav-link' href='../partials/part-search.ejs'>Part search</a>
            </li> -->
            <li class="nav-item">
                <a class='nav-link' href='/casehome.ejs'>Case studies</a>
                </li>
            <li class="nav-item">
            <a class='nav-link' href='../partials/quizchoice.ejs'>Quiz</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Top Ranking</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Trending</a>
            </li> -->
            <li class="nav-item">
              <a class='nav-link' href="../partial/about-us.ejs">About us</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="../account.ejs">My account</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>