<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/string-strip-html/dist/string-strip-html.umd.js"></script>

    <!-- js link -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
  crossorigin="anonymous"></script>

    <!-- tiny cdn for editing description content -->
    <script src="https://cdn.tiny.cloud/1/7nm55eeyd8on244e26qga8zrcog7ji80gzcyih15to5xzn60/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>  
    <script>tinymce.init({selector:'textarea'});</script>
    
    <!-- font awesome -->
  <script src="https://kit.fontawesome.com/5b9ff68e39.js" crossorigin="anonymous"></script>
    <title>Repairhint</title>
</head>
<body>
    <%- include('partials/case-navbar') %>
    <div class="container">
        <h1 class="mb-4 text-white">New case study</h1>

        <form action="casehome.ejs" method="POST" enctype="multipart/form-data" novalidate>
            <div class="form-group">
                <label for="title" class="text-white">Fault/Title</label>
                <input type="text" class="form-control" placeholder="Title" name="title" maxlength="15" required>
            </div>        
            
            <div class="invisible">
                <label for="author" class="text-white">Author</label>
                <input type="text" value="<%= user %>" name="author" required>
            </div>
            <div class="form-group">
                <label for="description" class="text-white">Description</label>
                <textarea class="form-control" name="description" placeholder="Description" required></textarea>
            </div>
            <div class="form-group">
                <label for="image" class="text-white">Upload image</label>
                <input type="file" name="image" id="image" class="form-control-file text-white">
            </div>
            <div class="form-group">
                <a class="btn btn-warning" href="/casehome.ejs">Cancel</a>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
    <%- include('partials/case-footer') %>
</body>

</html>