<%- include('../../partials/issue-header') %>
<body>
    <%- include('../../partials/password-navbar') %>
    <section class="form-space">
 <div class="form-center">
        <div class="container mt-5">
          <h1>Reset your password</h1>
          <div class="row">
              <div class="card">
                <div class="card-body">
        
                  <!-- Makes POST request to reset route -->
                  <form action="/static/reset-password/forget-password" method="post">
                    <div class="form-group">
                      <label for="email">Enter your email</label>
                      <input type="email" class="form-control" name="username" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                  </form>
        
                </div>
              </div>
            </div>
          </div>
      </div>
      </section>
    <%- include('../../partials/footer') %>
</body>
</html> 