<%- include('../../partials/issue-header') %>

  <body>
    <%- include('../../partials/password-navbar') %>

      <div class="direction">
        <h1 style="text-align: center;">Password reset link has been sent to your email account</h1>
      </div>

      <%- include('../../partials/footer') %>
  </body>

  </html>