<%- include('../../partials/issue-header') %>

    <body>
        <%- include('../../partials/password-navbar') %>
            <div class="container mt-5">
                <h1>Reset password for <%= username %>
                </h1>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">

                                <!-- action is not given to for because -->
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="password">Enter your new password</label>
                                        <input type="password" class="form-control" name="password"
                                            onChange="onChange()" minlength="5" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Confirm your new password</label>
                                        <input type="password" class="form-control" name="password1"
                                            onChange="onChange()" minlength="5" required>
                                    </div>
                                    <br>
                                    <button style="background-color: green;" type="submit"
                                        class="btn btn-dark">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                alert("it linked")
                function onChange() {
                    const password = document.querySelector('input[name=password]');
                    const confirm = document.querySelector('input[name=password1]');
                    if (confirm.value === password.value) {
                        confirm.setCustomValidity('');
                    } else {
                        confirm.setCustomValidity('Passwords do not match');
                    }
                }
            </script>
    </body>

    </html>