
<%- include('../partials/header') %>
<body>
  <%- include('../partials/navbar') %>

    <div class="direction">

      <h1>About us</h1>
      <p class="about-desc">Welcome to fixhint!</p>
      <p>Fixhint is specifically designed to help you troubleshoot your laptop motherboard and solve possible laptop
        challenges.
        As much as many would love to learn chip level laptop motherboard repair, they tend to find it complicated for
        a lot of reasons, some don't even know where and how to start.
        Fixhint is designed to serve every skill level from the beginner to professional, you can also learn, earn
        professionally or even earn by referral via the referral option on our platform.
        Fixhint is equipped with fascinating features that will help you fix motherboard with ease, provide answer to
        confusing questions, improve your repair ability, test your repair ability.</p>

      <h4>Repair navigation</h4>
      <P>This is a troubleshooting director that guides you on important testing points to check on the motherboard to
        easily identify and fix laptop motherboard fault. It does this on a step by step basis and run analysis based
        on the status of the tested result.</P>

      <h4>Random secret/clue</h4>
      <p class="about-desc">These is specifically to update and refresh your memory on key secrets and clues as far as
        laptop motherboard is concerned.</p>

      <h4>Case studies</h4>
      <p class="about-desc">On this platform, you will get to see people's experiance as it is basically for sharing
        experience, discoveries and innovations
      </p>
      <h4>Quiz</h4>
      <p>This is loaded with unique practical quetions that really help you understand repair more. There are 2
        categoris of question from which you can choose, one consist of questions with picture while the other consist
        of questions without picture.</p>

      <h4>Referrer bonus</h4>
      <p class="about-desc">You can also earn from referring other to use the platform. By doing this, you will be
        earning on every single active user you referred for as long as they are registered
      </p>

      
    </div>


<!-- Footer using ejs template-->
<%- include('../partials/footer') %>

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <script src="../js/index.js" charset="utf-8"></script>
</body>

</html>